<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/main_style.css">
</head>
<body>
    <div style="row">
        <div class="col-2"></div>
        <div class="col-8">
            @{
                ViewData["Title"] = "Privacy Policy";
            }
            <h1>@ViewData["Title"]</h1>

            <p>Use this page to detail your site's privacy policy.</p>
        </div>
        <div class="col-2"></div>
    </div>
</body>
